* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ebf2ff !important;
}

.add__new__btn__mobile__only {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px 10px;
  background: white;
  z-index: 3;
  width: 100%;
}

/* @media (min-width: 768px) {
  .add__new__btn__mobile__only {
    display: none;
  }
} */
